<div class="col-md-3 sidebar">
  <%= render 'layouts/shared/side_nav' %>
  <!-- <ul class="nav navbar-nav">
    <li class="title">Categories</li>
    <li><a href="blog-categories.html">Galleries</a> <span>(9)</span></li>
    <li><a href="blog-categories.html">Images</a> <span>(31)</span></li>
    <li><a href="blog-categories.html">Multimedia</a> <span>(15)</span></li>
    <li><a href="blog-categories.html">Video</a> <span>(18)</span></li>
    <li><a href="blog-categories.html">Gaming</a> <span>(11)</span></li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="title">Archives</li>
    <li><a href="blog-archives.html">December 2013</a> <span>(9)</span></li>
    <li><a href="blog-archives.html">November 2013</a> <span>(21)</span></li>
    <li><a href="blog-archives.html">October 2013</a> <span>(5)</span></li>
    <li><a href="blog-archives.html">September 2013</a> <span>(8)</span></li>
    <li><a href="blog-archives.html">August 2013</a> <span>(15)</span></li>
  </ul>
  <ul class="nav navbar-nav nav-social hidden-sm hidden-xs">
    <li class="title">Social</li>
    <li><a href="#none">Twitter</a></li>
    <li><a href="#none">Facebook</a></li>
    <li><a href="#none">LinkedIn</a></li>
    <li><a href="#none">Dribbble</a></li>
  </ul> -->
</div>
