<div class="navbar" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><img style="width:80%" src="https://s3.amazonaws.com/groupmeme/Group-Slam-Logo.png"></a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#groupslam-navbar-collapse-1"><span class="fa fa-bars"></span>Menu</button>
    <%= NavigationDecorator.new(current_group, current_user).group_title_link %>
  </div><!-- end navbar-header -->
  <div class="collapse navbar-collapse" id="groupslam-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="title">Menu</li>
      <li><%= NavigationDecorator.new(current_group, current_user).display_user_info %></li>
      <li><a href="/users/<%= current_user.username %>">Profile</a></li>
      <li><a href="/groups">Your Groups</a></li>
      <li><%= NavigationDecorator.new(current_group, current_user).admin_links %></li>
    </ul>
  </div><!-- end navbar-collapse -->
</div><!-- end navbar -->
