<div class="col-md-3 sidebar">
  <%= render 'layouts/shared/side_nav' %>
  <!-- FILTER ONLY SHOWS ON MEME INDEX PAGE -->
  <%= render 'layouts/shared/filters' if (current_group && current_page?(memes_path))%>
</div>
