<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="<%= memes_sort_path(@group.group_slug, "newest")%>">Newest</a></li>
    <li><a href="<%= memes_sort_path(@group.group_slug, "oldest")%>">Oldest</a></li>
    <li><a href="<%= memes_sort_path(@group.group_slug, "rising")%>">Trending</a></li>
    <li><a href="<%= memes_sort_path(@group.group_slug, "viral")%>">What's Poppin</a></li>
 </ul>
</div>
