
<div class="portfolio-wrapper">
  <!-- Need to add in code that crops image so all gifs are same size -->
  <!-- @memes.in_groups_of(3).each do |meme_row|  -->
  
  <% @memes.each do |meme|  %>
    <%= render partial: 'memes/index_meme_card' , locals: {meme: meme}%>
  <% end %>
  <!-- add in ajax call to request the next 9 when scroll down -->
  
</div>
