<div class="page">
  <div class="article">
    <h3>Create A New Group</h3>
        <%= form_for @group, html: {class: "form-horizontal"} do |f| %>
          <div class="form-group">
            <%= f.label :title, class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :title %>
            </div>
          </div>
          <div class="form-group">
            <%= f.submit class: 'btn btn-primary' %>
        </div>
        <% end %>
  </div>
</div>
