
<h3>Members of <%= current_group.title %></h3>
<% @users.each do |user| %>
  <div class="card film art">
    <%= link_to user_path(user), class: "thumb" do %>
        <%= image_tag user.avatar %>
    <% end %>
  <div class='card-body'>
    <%= link_to user.username, user_path(user)%>
  </div>
  </div>
<% end %>
