<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
   <h1>Welcome to GroupMeme, Mr. User.</h1>
   <p>
     You have successfully signed up to GroupMeme,
     your username is not important right now.<br>
   </p>
   <p>
     To login to the site, just follow <%= link_to "this link", @link, host: "http://groupmeme.herokuapp.com/"%>.
   </p>
   <p>Thanks for joining and have a great day!</p>
 </body>
</html>
