<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
   <h1>You've received an invite to <%= @invite.group.title %>'s GroupMeme</h1>
   </h2>
     To join <%= @invite.group.title %>'s GroupMeme, follow <a href="http://lvh.me:3000<%= @link %>">this link</a>.
   </h2>
   <p>About GroupMeme:
   GroupMeme is an invite-only forum for creating and sharing memes and gifs in your organization.</p>
 </body>
</html>
